body {
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;

}
ul {
    list-style-type: none;
}
.top-nav {
    width: 100%;
    height: 30px;
    background-color: black;
    position: sticky;
}
.nav-item {
    color: rgb(201, 184, 184);
    padding: 8px;
}
.nav-item:hover {
    cursor: pointer;
    color: white;
}
.left {
    padding-left: 20px;
    float: left;
    display: flex;
}
.right {
    padding-right: 20px;
    float: right;
    display: flex;
}
.bottom-nav {
    width: 100%;
    height: 40px;
    padding-top: 5px;
    padding-left: 20px;
    border: 1px solid lightgray;
    font-weight: lighter;
    background-color: white;
    position: sticky;

}
.side {
    display: flex;
    float: left;
}
.bar-item {
    padding: 10px;
}
.bar-item a {
    text-decoration: none;
    color: rgb(148, 141, 141);
}
.bar-item a:hover {
    color: black;
}
.tickets {
    width: 100%;
    height: 25px;
    background-color: yellow;
    padding-left: 30px;
    padding-top: 10px;
    font-weight: lighter;
    font-size: 15px;
    
}
.tickets p {
    cursor: pointer;
}

.main-articles {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    height: 70vh;

}
.main-articles a {
    text-decoration: none;
    color: whitesmoke;
}
.main-articles a:hover {
    text-decoration: none;
}
.main1 {
    grid-row: 1 / -1;
    background: url(./images/flupic.jpg);
    background-size: 100% 100%;
    cursor: pointer;
}
.main2 {
    background: url(./images/mainpic3.jpg);
    background-size: 100% 100%;
    cursor: pointer;
}
.main3 {
    background: url(./images/random3.jpg);
    background-size: 100% 100%;
    cursor: pointer;
}
.main-articles figure {
    position: relative;
}
.main-wrapper {
    color: #ffffff;
    position: absolute;
    padding: 14px;
    bottom: 0;
}
.main-wrapper p {
    cursor: pointer;
}
.main-wrapper p:hover {
    color: grey;
}
.main1 a {
    font-size: 35px;
}
.main2 {
    font-size: 19px;
}
.main3 a {
    font-size: 19px;
}
.news {
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
}
.news:hover {
    color: red;
}
.container {
    display: grid;
    margin-left: 30px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.container h1 {
    line-height: 0.5;
}
.container img {
    width: 304px;
    height: 152px;
    cursor: pointer;
    
}
.container a {
    
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.container a:hover {
    color: red;
}
.rounds {
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 900;
    font-size: 25px;
    color: red;
    padding-right: 40px;
}
.fun {
    padding-top: 20px;
    cursor: pointer;
    padding-bottom: 50px;
}
.fun a {
    text-decoration: none;
    color: red;
}
.fun p {
    float: right;
    padding-top: 0;
}
.fun:hover {
    color: black;
}
.fun a:hover {
    color: #000000;
}
.categories {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    cursor: pointer;
}
.category {
    display: flex;
    flex-direction: column;
}
.category figure {
    flex-basis: 250px;
    font-size: 18px;
    margin: 5px 0;
    position: relative;
    color: blue;
}
.categories a {
    color: white;
    text-decoration: none;
}
.categories p {
    color: white;
}
.wrap {
    position: absolute;
    bottom: 0;
    color: rgb(219, 195, 195);
}
.wrap h3 {
    line-height: 1;
    width: 90%;
    padding-top: 10px;
}
.wrap h3 a {
    color: white;
}
.wrap h3 a:hover {
    text-decoration: underline;
}
.wrap p a {
    color: honeydew;
}
.wrap p a:hover {
    color: wheat;
}
.wrap p {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.category li {
    border-bottom: 1px solid lightgray;
    font-size: 15px;
    list-style: square ;
    padding: 5px 10px;
    color: rgb(99, 94, 94);
}
li:hover {
    color: black;
}


.category1{
    background: url(./images/header-b.jpg) no-repeat scroll;
    background-size: 100% 100%;
    cursor: pointer;
}
.category2 {
    background: url(./images/header-b.jpg);
    background-size: 100% 100%;
}
.category3 {
    background: url(./images/header-b.jpg);
    background-size: 100% 100%;
}
.category4 {
    background: url(./images/header-b.jpg);
    background-size: 100% 100%;
}
.category5 {
    background: url(./images/header-b.jpg);
    background-size: 100% 100%;
}
.category6 {
    background: url(./images/header-b.jpg);
    background-size: 100% 100%;
}
.category7 {
    background: url(./images/header-b.jpg);
    background-size: 100% 100%;
}
.category8 {
    background: url(./images/header-b.jpg);
    background-size: 100% 100%;
}
.category9 {
    background: url(./images/header-b.jpg);
    background-size: 100% 100%;
}
.latest-daily {
    cursor: pointer;

}
.breaking {
    color: red;
    padding-top: 50px;
    padding-left: 30px;
}
.breaking:hover {
    color: black;
}
.cont a {
    text-decoration: none;
    color: black;
}
.cont a:hover {
    color: red;
}
.cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-left: 30px;
    margin-top: 30px;
}

.cont img {
    width: 304px;
    height: 152px;
}
.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 28, 28);
    padding: 30px ;

}
.footer li {
    display: inline-block;
    padding: 5px 13px;
}
.socials {
    display: flex;
    gap: 20px;
    padding: 20px 
    
}
.socials a {
    color: #ffffff;
    font-size: 18px;
    background-color: #333333;
    border-radius: 50%;
	border: 1px solid rgb(21, 24, 21);
	padding: 10px;	
}
.socials a:hover {
    background-color: #000000;
}
.footer-middle {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    font-size: 13px;
}
.footer-middle a {
    text-decoration: none;
    color:#7e6b6b;
}
.footer-middle a:hover {
    color: #ffffff;
}
.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000000;
    padding: 50px 0;
  
}
.footer-bottom p {
    color: rgb(151, 140, 140);
}
.footer-bottom img {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

